* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: #666;
}

.slidebar {
    margin-left: 1%;
    margin-top: .6%;
}

.slidebar-title {
    color: #A7DD3C;
    background: #FFFFFF;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
}

.show-slidebar-button {
    position: fixed;
    margin-right: .25em;
}

.p-panel {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

*, *:before, *:after {
    box-sizing: border-box;
}

footer {
    background: white;
    width: 100%;
    padding: 1rem;
    text-align: center;
    transition: 200ms;
    padding-top: 10px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer:hover {
    box-shadow: 0 0 2rem gray;
}

header {
    height: 54px;
    display: block;
    color: red;
    background: white;
    text-transform: uppercase;
}

hr {
    /* margin-top: 2.1%; */
    border-top: 2px solid #757575;
    width: 100%;
}

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@media only screen and (max-width: 500px) {
    .workDateAndTime {
        display: block;
    }
}

/* Dashboard */

.calendar {
    padding-left: 40px;
    padding-top: 5px;
}

.datepicker {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.dropdown {
    padding-top: 5px;
}

.arrivalTime {
    padding-top: 15px;
}

.workDateAndTime {
    display: inline-block;
}

.dropdownAndPause {
    display: inline-flex;
}

.dropdown {
    float: left;
}

.pause {
    float: right;
    padding-top: 5px;
    padding-left: 15px;
}

.inputMask {
    text-align: center;
}

.departureTime {
    padding-left: 15px;
    padding-top: 15px;
}

.timeSection {
    display: flex;
}

.textarea {
    padding-top: 20px;
}

.dynamicContent {
    display: block;
    align-items: center;
    justify-content: center;
}

.panel {
    margin-top: 0.5em;
    padding-left: 70px;
}

.fixedItems {
    padding-top: 2%;
    padding-left: 5%;
    position: fixed;
    display: inline-flex;
}

.deleteItemButton {
    padding-top: 7px;
    float: right;
}

.contentSectin {
    padding-top: 3%;
}

.p-button {
    position: fixed;
}

.datepicker {
    position: fixed;
}

.panelSection {
    margin-left: 350px;
}

.workDateAndTime {
    padding-top: 1%;
    padding-left: 10%;
}

.workDateAndTime-scrollPanel {
    width: auto;
    height: 520px;
}

/* Login */

.containerLogin {
    position: relative;
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    width: 380px;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.containerLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.containerLogin h3 {
    font-weight: 600;
    font-size: 1.75rem;
}

.form-group {
    display: inline-flex;
    margin-top: 1.5rem;
}

.form-group p {
    margin-top: 1rem;
}

.form-group-link {
    margin-top: 1.5rem;
}

/* Projects */

.remove-fields-button {
    margin-top: 26px;
}

.delete-project {
    margin: auto;
}

/* Register */

.containerRegister {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    width: 380px;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.containerRegister h3 {
    font-weight: 600;
    font-size: 1.75rem;
}

.form-group {
    margin-top: 1.5rem;
}

.form-group p {
    margin-top: 1rem;
}

/* Users */

.user-fields {
    display: block;
}

.first-name {
    padding-top: 20%;
    padding-left: 200px;
}

/* Final Form */

/* .form-position {
 width: auto;
} */

/* .card-comonent {
    width: 34%;
} */

.form-array-projects {
    margin-left: 26%;
}

.form-array-users {
    margin-left: 20%;
}

.form-projects-fields {
    display: inline-flex;
}

.form-users-fields {
    display: inline-flex;
    margin-top: 10%;
}

.scroll-panel {
    width: auto;
    height: 300px;
}

.form-buttons {
    margin-top: 5%;
    margin-left: 12%;
    padding-bottom: 8%;
    display: inline-flex;
}

.new-form-section {
    max-width: 450px;
}

.user-list-content {
    max-width: 450px;
}

.input-text-field-container {
    padding-top: 11%;
}

.p-grid {
    padding-top: 6%;
    padding-left: 10%;
}

/* Table */

.loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

/* Details */

.details-table-section {
    margin-top: 6%;
}

/* Events */

.full-calendar-content h2 {
    text-align: center;
}

.events-scroll-panel {
    background-color: white;
    margin-top: 4%;
    margin-left: 1%;
    width: 98%;
    height: 520px;
}

.footer-button {
    display: inline-flex;
}

/* All */

.add-btn {
    float: right;
    margin-right: 2.2%;
}

.table-section {
    margin-top: 4%;
}
