* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.6;
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,
     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    color: #666;
}

.slidebar {
    margin-left: 1%;
    margin-top: .6%;
}

.slidebar-title {
    color: #A7DD3C;
    background: #FFFFFF;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
}

.show-slidebar-button {
    position: fixed;
    margin-right: .25em;
}

.p-panel {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

*, *:before, *:after {
    box-sizing: border-box;
}

footer {
    background: white;
    width: 100%;
    padding: 1rem;
    text-align: center;
    transition: 200ms;
    padding-top: 10px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer:hover {
    box-shadow: 0 0 2rem gray;
}

header {
    height: 54px;
    display: block;
    color: red;
    background: white;
    text-transform: uppercase;
}

hr {
    /* margin-top: 2.1%; */
    border-top: 2px solid #757575;
    width: 100%;
}

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@media only screen and (max-width: 500px) {}

/* Dashboard */

.workAndTime {
    display: inline-flex;
}

.datepicker {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.inputMask {
    text-align: center;
}

.dynamicContent {
    display: block;
    align-items: center;
    justify-content: center;
}

#deleteItemButton {
    margin-right: 11px;
}

.deleteItemButton {
    float: right;
}

.p-button {
    position: fixed;
}

/* Login */

.containerLogin {
    position: relative;
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    width: 380px;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.containerLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.containerLogin h3 {
    font-weight: 600;
    font-size: 1.75rem;
}

.form-group {
    display: inline-flex;
    margin-top: 1.5rem;
}

.form-group p {
    margin-top: 1rem;
}

.form-group-link {
    margin-top: 1.5rem;
}

/* Projects */

.remove-fields-button {
    margin-top: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.delete-project {
    margin: auto;
}

/* Register */

.containerRegister {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    width: 380px;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.containerRegister h3 {
    font-weight: 600;
    font-size: 1.75rem;
}

.form-group {
    margin-top: 1.5rem;
}

.form-group p {
    margin-top: 1rem;
}

#icon-size {
    font-size: 1.5em;
}

/* Users */

.user-fields {
    display: block;
}

.first-name {
    padding-top: 20%;
    padding-left: 200px;
}

/* Final Form */

/* .form-position {
 width: auto;
} */

/* .card-comonent {
    width: 34%;
} */

.form-array-projects {
    margin-left: 26%;
}

.form-array-users {
    margin-left: 20%;
}

.form-projects-fields {
    display: inline-flex;
}

.form-users-fields {
    display: inline-flex;
    margin-top: 10%;
}

.scroll-panel {
    width: auto;
    height: 300px;
}

.form-buttons {
    margin-top: 5%;
    margin-left: 12%;
    padding-bottom: 8%;
    display: inline-flex;
}

.new-form-section {
    max-width: 450px;
}

.user-list-content {
    max-width: 450px;
}

.input-text-field-container {
    padding-top: 11%;
}

.workAndTime {
    margin-top: 4%;
    margin-left: 10%;
}

/* Table */

.loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

/* Details */

.details-table-section {
    margin-top: 6%;
}

.detail-row {
    font-weight: bold;
}

.details-column-expender {
    width: 3em;
}

.details-header-csv {
    text-align: right;
}

.deleteDialog {
    width: 450px;
}

#informationTriangle {
    font-size: 2rem;
    color: red
}

/* Events */

.full-calendar-content h2 {
    text-align: center;
}

.events-scroll-panel {
    background-color: white;
    margin-top: 4%;
    margin-left: 1%;
    width: 98%;
    height: 520px;
}

.footer-button {
    display: inline-flex;
}

.event-section {
    border: solid grey 1px;
}

/* Drag And Drop events */

#draggable-events {
    margin-top: 20%;
}

#external-events {
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

#external-events .fc-event {
    cursor: move;
    margin: 3px 0;
}

#calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
}

#calendar {
    max-width: 1100px;
    margin: 20px auto;
}

/* All */

.add-btn {
    float: right;
    margin-right: 2.2%;
}

.table-section {
    margin-top: 4%;
}

.dialog-width {
    width: 400px;
}

#delete-icon {
    font-size: 2em;
    color: red;
}

#wrapperEvent {
    position: relative;
}

/* #firstDiv, #secondDiv {
    position: absolute;
} */

/* Dashboard Work item */

.work-record {
    margin-top: 20px;
    margin-left: 50px;
    height: 300px;
    width: 1400px;
    background-color: rgb(181, 184, 179);
}

.dateAndTotal {
    border: solid red 2px;
}

.totalDayHours {
    float: right;
    margin-right: 100px;
}

.details-project-name {
    float: left;
}

.work-dey-details {
    float: right;
}

.details-panel {
    height: 450px;
}

.details-work-section {
    width: 430px;
    height: auto;
    margin-bottom: 30px;
}

.field-margin {
    margin-top: 15px;
}

/* For mobile phones: */

@media only screen and (max-width: 768px) {
    /* Dashbord items */
    .workAndTime {
        display: inline-block;
        margin-top: 15%;
        position: absolute;
        margin-left: 7%;
    }
    /* Menu button */
    .show-slidebar-button {
        position: absolute;
        margin-top: .50em;
        margin-left: .50em;
    }
    /* Dash buttons */
    #dash-buttons-group {
        display: inline-flex;
        position: relative;
        margin-bottom: 15%;
    }
    /* Dashboard fields */
    /* [class*="className"] {
        width: 20px;
    } */
}