.containerDashboard {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}
.calendar {
   padding-left: 40px;
   padding-top: 5px;
}
.dropdown {
    padding-top: 5px;
 }
.arrivalTime{
    padding-top: 15px;
}
.workDateAndTime {
    display: inline-flex;
}
.dash-save-button {
    padding-top: 20px;
    padding-left: 50px;
}
.deleteButton {
    float: right;
}
.dropdownAndPause {
    display: inline-flex; 
}
.dropdown {
    float: left;
}
.pause {
    float: right;
    padding-top: 5px;
    padding-left: 15px;
}
#pause {
    width: 170px;
    text-align: center;
}
.departureTime {
    padding-left: 15px;
    padding-top: 15px;
}
.timeSection {
    display: flex;  
} 
.textarea {
    padding-top: 20px;
}
.dynamicContent{
    display: block;
    align-items: center;
    justify-content: center;

}
.panel{
    margin-top: 0.5em;
    padding-left: 70px;
}
.addButton{
   padding-left: 20px;
}
.dangerButton{
    padding-top: 7px;
    float: right;
}
@media only screen and (max-width: 500px) {
    .workDateAndTime {
        display: block;
    }
  }