.containerDashboard {
    padding: 1rem;
    border-radius: 5px;
}
.calendar {
   padding-left: 40px;
   padding-top: 5px;
}
.datepicker{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.dropdown {
    padding-top: 5px;
 }
.arrivalTime{
    padding-top: 15px;
}
.workDateAndTime {
    display: inline-block;
}
.dropdownAndPause {
    display: inline-flex; 
}
.dropdown {
    float: left;
}
.pause {
    float: right;
    padding-top: 5px;
    padding-left: 15px;
}
.inputMask {
    text-align: center;
}
.departureTime {
    padding-left: 15px;
    padding-top: 15px;
}
.timeSection {
    display: flex;  
} 
.textarea {
    padding-top: 20px;
}
.dynamicContent{
    display: block;
    align-items: center;
    justify-content: center;

}
.panel{
    margin-top: 0.5em;
    padding-left: 70px;
}
.fixedItems{
    padding-top: 2%;
    padding-left: 5%;
    position: fixed;
    display: inline-flex;
}
.addButton{
    float: left;
    padding-top: 2%;
}
.deleteButton{
    padding-top: 7px;
    float: right;
}
.contentSectin{
    padding-top: 3%;
}
.p-button{
    position: fixed;
}
.datepicker{
    position: fixed;
}
.panelSection{
    padding-left: 350px;
}
.workDateAndTime{
    padding-top: 2%;
    padding-left: 4%;
}

@media only screen and (max-width: 500px) {
    .workDateAndTime {
        display: block;
    }
  }