.containerDashboard {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}
.dropdown, .arrivalTime, .departureTime, .calendar, .textarea, .pause{
   padding-left: 50px;
   padding-top: 20px;
}
.workDateAndTime {
    display: inline-flex;
}
.dash-save-button {
    padding-top: 20px;
    padding-left: 107px;
}
.deleteButton {
    float: right;
}

@media only screen and (max-width: 470px) {
    .workDateAndTime {
        display: block;
    }
  }