.containerDashboard {
    padding: 1rem;
    border-radius: 5px;
}
.calendar {
   padding-left: 40px;
   padding-top: 5px;
}
.datepicker{
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(0,0,0,0);
}
.dropdown {
    padding-top: 5px;
 }
.arrivalTime{
    padding-top: 15px;
}
.workDateAndTime {
    display: inline-flex;
}
.dash-save-button {
    float: right;
    padding-top: 10px;
    padding-left: 30px;
}
.deleteButton {
    float: right;
}
.dropdownAndPause {
    display: inline-flex; 
}
.dropdown {
    float: left;
}
.pause {
    float: right;
    padding-top: 5px;
    padding-left: 15px;
}
#pause {
    width: 170px;
    text-align: center;
}
.departureTime {
    padding-left: 15px;
    padding-top: 15px;
}
.timeSection {
    display: flex;  
} 
.textarea {
    padding-top: 20px;
}
.dynamicContent{
    display: block;
    align-items: center;
    justify-content: center;

}
.panel{
    margin-top: 0.5em;
    padding-left: 70px;
}
.fixedItems{
    /* padding-top: 20%; */
    padding-left: 64%;
    position: fixed;
    display: inline;
}
.addButton{
    float: left;
    padding-top: 10px;
}
.deleteButton{
    padding-top: 7px;
    float: right;
}
.contentSectin{
    padding-top: 3%;
}
.p-button{
    position: fixed;
}
.datepicker{
    position: fixed;
}
.panelSection{
    padding-left: 350px;
}
.workDateAndTime{
    padding-top: 2%;
    padding-left: 4%;
}
@media only screen and (max-width: 500px) {
    .workDateAndTime {
        display: block;
    }
  }