.containerDashboard {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.dropdown, .arrivalTime, .departureTime, .calendar, .textarea, .pause{
   padding-left: 15px;
   padding-top: 5px;
}
.workDateAndTime {
    display: inline-flex;
}
.dash-save-button {
    /* padding-top: 20px;
    padding-left: 107px; */
}
.deleteButton {
    float: right;
}
.dropdownAndPause {
    display: inline-flex; 
}
.dropdown {
    float: left;
}
.pause {
    float: right;
}
.timeSection {
    display: inline-flex; 
}

@media only screen and (max-width: 470px) {
    .workDateAndTime {
        display: block;
    }
  }