.containerDashboard {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.calendar {
   padding-left: 40px;
   padding-top: 5px;
}
.dropdown {
    padding-left: 40px;
    padding-top: 5px;
 }
.arrivalTime{
    padding-left: 40px;
    padding-top: 15px;
}
.workDateAndTime {
    display: inline-flex;
}
.dash-save-button {
    /* padding-top: 20px;
    padding-left: 107px; */
}
.deleteButton {
    float: right;
}
.dropdownAndPause {
    display: inline-flex; 
}
.dropdown {
    float: left;
}
.pause {
    float: right;
    padding-top: 5px;
    padding-left: 15px;
}
#pause {
    width: 170px;
    text-align: center;
}
.departureTime {
    padding-left: 15px;
    padding-top: 15px;
}
.timeSection {
    display: inline-flex; 
} 
.textarea {
    padding-top: 20px;
    padding-left:40px;
}
.dynamicContent{
    
}
@media only screen and (max-width: 800px) {
    .workDateAndTime {
        display: block;
    }
  }