/* .form-position {
 width: auto;
} */

/* .card-comonent {
    width: 34%;
} */

.content-button {
    margin-left: 8%;
}

.form-array-projects {
    margin-left: 26%;
}

.form-array-users {
    margin-left: 20%;
}

.form-projects-fields {
    display: inline-flex;
}

.form-users-fields {
    display: inline-flex;
    margin-top: 10%;
}

.scroll-panel {
    width: auto;
    height: 300px;
}

.form-buttons {
    margin-top: 5%;
    margin-left: 12%;
    padding-bottom: 8%;
    display: inline-flex;
}

.new-form-section {
    max-width: 450px;
}

.user-list-content {
    max-width: 450px;
}

.input-text-field-container {
    padding-top: 11%;
}

.p-grid {
    padding-top: 6%;
    padding-left: 10%;
}