/* .form-position {
 width: auto;
} */

/* .card-comonent {
    width: 34%;
} */

.content-button {
    margin-left: 8%;
}

.form-array {
    margin-left: 16%;
    /* width: auto; */
    /* padding-top: 5%; */
}

.form-fields {
    padding-top: 10%;
    display: inline-flex;
}

.scroll-panel {
    width: auto;
    height: 300px;
}

.form-buttons {
    margin-top: 5%;
    margin-left: 12%;
    padding-bottom: 8%;
    display: inline-flex;
}

.new-form-section {
    max-width: 450px;
}

.user-list-content {
    max-width: 450px;
}

.input-text-field-container {
    padding-top: 11%;
}

.p-grid {
    padding-top: 6%;
    padding-left: 10%;
}