
.containerLogin {
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    width: 380px;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
}

.containerLogin h3 {
    font-weight: 600;
    font-size: 1.75rem;
}

 .form-group {
    margin-top: 1.5rem;
}

.form-group p {
    margin-top: 1rem;
}
