.project-form {
    padding-left: 5%;
}

.content-button {
    margin-left: 8%;
}

.project-array {
    padding-left: 25%;
    width: auto;
    padding-top: 5%;
}

.project-fields {
    padding-top: 10%;
    display: inline-flex;
}

.card-comonent {
    width: 35%;
}

.scroll-panel {
    width: auto;
    height: 300px;
}

.project-buttons {
    padding-top: 5%;
    padding-left: 12%;
    display: inline-flex;
}

.new-project-section {
    padding-top: 8%;
}